/* RollingDice.css */

.diceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dice {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(85, 1, 1);
  display: grid; /* Use grid for precise layout */
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: repeat(2, 1fr); /* Two equal rows */
  justify-items: center; /* Horizontally center dots */
  align-items: center; /* Vertically center dots */
  margin: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid chartreuse;
  background-color: rgb(166, 225, 209);
  border-radius: 50%;
}

/* Dice Face Configurations */

.face1 .dot:nth-of-type(1) {
  grid-area: 2 / 2;
} /* Single dot in the center */

.face2 .dot:nth-of-type(1) {
  grid-area: 1 / 1;
}
.face2 .dot:nth-of-type(2) {
  grid-area: 3 / 3;
}

.face3 .dot:nth-of-type(1) {
  grid-area: 1 / 1;
}
.face3 .dot:nth-of-type(2) {
  grid-area: 2 / 2;
}
.face3 .dot:nth-of-type(3) {
  grid-area: 3 / 3;
}

.face4 .dot:nth-of-type(1) {
  grid-area: 1 / 1;
}
.face4 .dot:nth-of-type(2) {
  grid-area: 1 / 3;
}
.face4 .dot:nth-of-type(3) {
  grid-area: 3 / 1;
}
.face4 .dot:nth-of-type(4) {
  grid-area: 3 / 3;
}

.face5 .dot:nth-of-type(1) {
  grid-area: 1 / 1;
}
.face5 .dot:nth-of-type(2) {
  grid-area: 1 / 3;
}
.face5 .dot:nth-of-type(3) {
  grid-area: 2 / 2;
}
.face5 .dot:nth-of-type(4) {
  grid-area: 3 / 1;
}
.face5 .dot:nth-of-type(5) {
  grid-area: 3 / 3;
}

.face6 .dot:nth-of-type(1) {
  grid-area: 1 / 1;
}
.face6 .dot:nth-of-type(2) {
  grid-area: 1 / 3;
}
.face6 .dot:nth-of-type(3) {
  grid-area: 2 / 1;
}
.face6 .dot:nth-of-type(4) {
  grid-area: 2 / 3;
}
.face6 .dot:nth-of-type(5) {
  grid-area: 3 / 1;
}
.face6 .dot:nth-of-type(6) {
  grid-area: 3 / 3;
}

/* Media Queries for Responsiveness */
@media (max-width: 480px) {
  .dice {
    width: 50px; /* Adjust for smaller screens */
    height: 50px;
  }

  .dot {
    width: 8px; /* Adjust for smaller screens */
    height: 8px;
  }
}

.rolling {
  animation: rollDice 1s ease-out; /* Adjust animation duration and timing as needed */
}

@keyframes rollDice {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
